
# python specific
.ipynb_checkpoints/
__pycache__/
settings.json
# playground for testing
playground/

# Mac OS
.DS_Store

# Old legacy code
legacy

# test notebooks
*/test.ipynb

# vscode workspaces
*.code-workspace

# data
data/
*.csv
*.pdb
*.pdbqt

# xtb output
*.xtboptok
charges
wbo
xtbopt.log
xtbrestart
xtbtopo.mol

# design_docs
design_docs/

# documentation site
docs/_build

# old code
legacy
